.Button {
    background: transparent;
    border: none;
    outline: none;
    color: #fff;
    cursor: pointer;
    font: inherit;
    padding: 10px;
    margin: 10px;
    font-weight: bolder;
}

.Button:first-of-type {
    margin-left: 0;
    padding-left: 0;
}


.Success {
    color: #5c9210;
}

.Danger {
    color: #c4450a;
}